---
name: "Update inputs"
on:  # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  nix-update:
    uses: "rake5k/flake-commons/.github/workflows/update-flake-lock.yml@main"
